---
import { getCollection } from "astro:content";

import { WorkCard } from "./experience-card";

import { sort } from "~/lib/sort";

const priorExperience = await getCollection("experience").then(sort.dataByPeriod);
---

<div class="col-[3/-1] grid gap-8 lg:col-[4/-1]">
	<div class="work-cards lg:grid-cols-4">
		{priorExperience.map((job) => <WorkCard id={job.id} {...job.data} />)}
		<WorkCard
			id="writing"
			name="Who knows?"
			subtitle="Who knows what's next for me? Guess we'll find out sometime"
			period="Future"
		/>
	</div>
</div>

<style>
	.work-cards {
		display: grid;
		grid-column: 1 / -1;
		gap: 2rem;

		@media (min-width: 1024px) {
			grid-template-rows: 3rem 1fr 1.5rem;
			grid-auto-flow: row;
		}
	}
</style>
