---
import { getCollection } from "astro:content";

import { Project } from "./project";

import { Section, subgrid } from "~/components/ui";
import { cx } from "~/lib/cx";
import { sort } from "~/lib/sort";

const projects = await getCollection("projects").then(sort.dataByOrder);

const layout = [
	"col-span-full lg:col-span-8 lg:row-span-2",
	"col-span-full lg:col-span-4 lg:row-span-1",
	"col-span-full lg:col-span-4 lg:row-span-1",
	"col-span-full lg:col-span-4 lg:row-span-2",
	"col-span-full lg:col-span-8 lg:row-span-2",
	"col-span-full lg:col-span-full lg:row-span-2",
];
---

<Section.Root>
	<Section.Header>
		<h2>Projects</h2>
	</Section.Header>

	<Section.SideContent>
		Past projects I worked on, work in progress or ideas for the future. Read more about
		my work and ideas I want to bring to life.
	</Section.SideContent>

	<div class={cx(subgrid(), "min-h-screen gap-x-8 gap-y-8")}>
		{
			projects.map((project, idx) => (
				<Project
					name={project.data.name}
					class={layout[idx]}
					color={project.data.color}
					href={`/projects/${project.slug}`}
				/>
			))
		}
	</div>
</Section.Root>
