@import "fonts/overused-grotesk.css";
@import "fonts/zed-mono.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
background - #E7E3DE
foreground - #313130
subtle foreground - #908E87
surface - #F0ECE7
hovered surface - #EEECE6
active surface - 
danger - #EB4D4B
success - #61D35F
*/

@layer base {
	:root {
		--font-overused-grotesk: Overused Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI,
			Helvetica, Arial, sans-serif;
		--font-zed-mono: Zed Mono, monospace;

		/* --base-background: #255df6; */
		--base-background: #e7e3de;
		--background: var(--set-background, var(--base-background));
		--base-foreground: #313130;
		/* --base-foreground: #255df6; */
		--foreground: var(--set-foreground, var(--base-foreground));
		/* --foreground: ; */
		--foreground-subtle: #908e87;
		--surface: #f0ece7;
		--surface-alternative: #eeece6;

		--brand: #255df6;

		--writing-background: #1e1e2c;
		--writing-foreground: #a6adc8;
	}
}
