@font-face {
	font-family: "Zed Mono";
	src: url("/fonts/zed-mono/zed-mono-extended.ttf") format("truetype");
	font-weight: 500;
	line-height: 1.625;
}

@font-face {
	font-family: "Zed Mono";
	src: url("/fonts/zed-mono/zed-mono-extendedbold.ttf") format("truetype");
	font-weight: 700;

	line-height: 1.625;
}

@font-face {
	font-family: "Zed Mono";
	src: url("/fonts/zed-mono/zed-mono-extendedbolditalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;

	line-height: 1.625;
}

@font-face {
	font-family: "Zed Mono";
	src: url("/fonts/zed-mono/zed-mono-extendeditalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;

	line-height: 1.625;
}
