---
import Projects from "./_index/sections/projects/index.astro";
import Work from "./_index/sections/work/index.astro";

import { Section } from "~/components/ui";
import MainLayout from "~/layouts/main.astro";
import { appInfo } from "~/lib/app-info";
---

<MainLayout class="[--invert-nav:100]">
	<Section.First
		header={{ name: appInfo.title, subtitle: "Fullstack developer" }}
		links={appInfo.social}
	/>

	<Section.Root class="lg:mt-56">
		<Section.Header>
			<h2 class="animate-fade-in will-change-[opacity] [animation-delay:300ms]">
				Hi there!
			</h2>
		</Section.Header>

		<Section.SideContent>
			<h1 class="text-5xl">
				{
					"I'm Ştefan, also known as @rizesql, a Bucharest-based technologist and internet enjoyer"
						.split("")
						.map((c, idx) => {
							return (
								// prettier-ignore
								<span class="animate-fade-in will-change-[opacity]" style={{animationDelay: `${350 + 10 * idx}ms`}}>{c}</span>
							);
						})
				}
			</h1>
		</Section.SideContent>

		<div
			class="col-span-full animate-fade-in overflow-hidden will-change-[opacity] lg:h-screen"
		>
			<img src="/hero.png" alt="" />
		</div>

		<div class="col-span-full lg:col-[2/span_9]">
			<p class="text-balance text-4xl">
				I am a freshman at the University of Bucharest in the department of Computer
				Science. Currently, I focus on developing my skills in fullstack development, and
				I strive to create awesome and performant experiences in this area. My work is
				constantly evolving and I remain updated to the current state of the art.
			</p>
		</div>
	</Section.Root>

	<Work />
	<Projects />
</MainLayout>
