---
import { Image } from "astro:assets";

import Projects from "./_index/sections/projects/index.astro";
import Work from "./_index/sections/work/index.astro";

import heroImg from "~/assets/hero.png";
import { Section } from "~/components/ui";
import MainLayout from "~/layouts/main.astro";
import { appInfo } from "~/lib/app-info";
---

<MainLayout
	class="[--invert-nav:100]"
	seo={{
		description:
			"I'm Ştefan, also known as @rizesql, a Bucharest-based technologist and internet enjoyer",
	}}
>
	<Section.First
		header={{ name: appInfo.title, subtitle: "Fullstack developer" }}
		links={appInfo.social}
	/>

	<Section.Root class="lg:mt-56">
		<Section.Header>
			<h2
				class="will-change-[opacity] [animation-delay:300ms] motion-safe:animate-fade-in"
			>
				Hi there!
			</h2>
		</Section.Header>

		<Section.SideContent>
			<h1 class="text-5xl">
				{
					"I'm Ştefan, also known as @rizesql, a Bucharest-based technologist and internet enjoyer"
						.split("")
						.map((c, idx) => {
							return (
								// prettier-ignore
								<span class="will-change-[opacity] motion-safe:animate-fade-in" style={{animationDelay: `${350 + 10 * idx}ms`}}>{c}</span>
							);
						})
				}
			</h1>
		</Section.SideContent>

		<div
			class="col-span-full overflow-hidden will-change-[opacity] motion-safe:animate-fade-in lg:h-screen"
		>
			<Image
				src={heroImg}
				widths={[240, 540, 720, heroImg.width]}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${heroImg.width}px`}
				alt=""
			/>
		</div>

		<div class="col-span-full lg:col-[2/span_9]">
			<p class="text-balance text-4xl">
				I am a freshman at the University of Bucharest in the department of Computer
				Science. Currently, I focus on developing my skills in fullstack development, and
				I strive to create awesome and performant experiences in this area. My work is
				constantly evolving and I remain updated to the current state of the art.
			</p>
		</div>
	</Section.Root>

	<Work />
	<Projects />
</MainLayout>
