---
import { Logo } from "./logo";
import { Link, center, hstack, touchable } from "./ui";

import { cx } from "~/lib/cx";
---

<header class={cx(hstack({ align: "center", justify: "between" }), "px-4 pt-4 lg:px-6")}>
	<Logo />
	<nav>
		<ul class={cx(center(), "gap-4")}>
			<Link.Nav href="/about" unstyled class={cx(touchable(), center())}>about</Link.Nav>
			<Link.Nav href="/writing" unstyled class={cx(touchable(), center())}>
				writing
			</Link.Nav>
		</ul>
	</nav>
</header>
