---
import { Logo } from "./logo";
import { Link, center, touchable } from "./ui";

import { cx } from "~/lib/cx";
---

<div
	class="fixed left-0 top-0 z-10 pl-4 pt-4 mix-blend-exclusion invert-[var(--invert-nav)] lg:px-6"
>
	<Logo />
</div>
<nav
	class="fixed right-0 top-0 z-10 pr-4 pt-4 mix-blend-exclusion invert-[var(--invert-nav)] lg:px-6"
>
	<ul class={cx(center(), "gap-4")}>
		<li>
			<Link.Nav href="/writing" unstyled class={cx(touchable(), center())}>
				writing
			</Link.Nav>
		</li>
	</ul>
</nav>
