---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import ContentLayout from "~/layouts/content.astro";

export const getStaticPaths = (async () => {
	const projects = await getCollection("projects");

	return projects.map((project) => {
		return {
			params: { project: project.slug },
			props: { project },
		};
	});
}) satisfies GetStaticPaths;

const { project } = Astro.props;

// prettier-ignore
const foreground = 
	project.data.foreground === "dark" ? "var(--base-foreground)" : 
	project.data.foreground === "light" ? "var(--base-background)" : 
	project.data.foreground;

const ogImage = new URL(`/api/og/${Astro.params.project}`, Astro.site);
---

<ContentLayout
	seo={{
		title: project.data.name,
		description: project.data.subtitle,
		ogImage: ogImage.toString(),
	}}
	content={project.data}
	render={await project.render()}
	style={{
		"--set-background": project.data.color,
		"--set-foreground": foreground,
		"--invert-nav": project.data.invertHeading ? 100 : 0,
	}}
>
	<Fragment slot="header">
		<h2>{project.data.name}</h2>
		<p class="font-normal">{project.data.subtitle}</p>
	</Fragment>
</ContentLayout>
