---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import { Interval } from "~/components/interval";
import ContentLayout from "~/layouts/content.astro";

export const getStaticPaths = (async () => {
	const priorExperience = await getCollection("experience");
	return priorExperience.map((job) => ({
		params: { slug: job.id },
		props: { job },
	}));
}) satisfies GetStaticPaths;

const { job } = Astro.props;

const ogImage = new URL(`/api/og/${Astro.params.slug}`, Astro.site);
---

<ContentLayout
	seo={{
		title: job.data.name,
		description: job.data.subtitle,
		ogImage: ogImage.toString(),
	}}
	content={job.data}
	render={await job.render()}
	class="[--invert-nav:100]"
>
	<Fragment slot="header">
		<h2>{job.data.name}</h2>
		<span class="font-normal">
			<Interval period={job.data.period} />
		</span>
	</Fragment>
</ContentLayout>
