---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import { Interval } from "~/components/interval";
import ContentLayout from "~/layouts/content.astro";

export const getStaticPaths = (async () => {
	const priorExperience = await getCollection("experience");
	return priorExperience.map((job) => ({
		params: { slug: job.slug },
		props: { job },
	}));
}) satisfies GetStaticPaths;

const props = Astro.props;
---

<ContentLayout
	content={props.job.data}
	render={await props.job.render()}
	class="[--invert-nav:100]"
>
	<Fragment slot="header">
		<h2>{props.job.data.name}</h2>
		<span class="font-normal">
			<Interval period={props.job.data.period} />
		</span>
	</Fragment>
</ContentLayout>
