---
import BaseLayout, { type Props as BaseProps } from "./base.astro";

import Navbar from "~/components/navbar.astro";
import { main } from "~/components/ui";
import { cx } from "~/lib/cx";

export type Props = BaseProps;

const { class: className, "class:list": classList, ...props } = Astro.props;
---

<BaseLayout
	class={cx(
		"px-4 lg:px-6 relative w-screen bg-background text-foreground",
		className,
		classList,
	)}
	{...props}
>
	<Navbar />

	<main class={main()}>
		<slot />
	</main>
</BaseLayout>
