---
import { Section, subgrid } from "~/components/ui";
import MainLayout from "~/layouts/main.astro";
import { appInfo } from "~/lib/app-info";
---

<MainLayout class="bg-[#1E1E2C] [--set-foreground:#a6adc8]">
	<Section.First
		header={{ title: "Writing", subtitle: "Some thoughts" }}
		links={[...appInfo.social, { href: "/rss", label: "RSS feed" }]}
	>
		<div class="col-[3/-2] text-balance">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus optio neque
			ipsa a excepturi ipsam maxime quas beatae nostrum perferendis. Earum esse laudantium
			sed molestiae nam neque porro aliquam praesentium. Lorem ipsum, dolor sit amet
			consectetur adipisicing elit. Quis sequi suscipit ipsa illo, nisi, culpa minima
			illum aliquid hic accusamus perferendis laboriosam odit vero architecto aperiam
			rerum assumenda numquam deserunt.
		</div>

		<div class="col-[3/-2] text-balance">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus optio neque
			ipsa a excepturi ipsam maxime quas beatae nostrum perferendis. Earum esse laudantium
			sed molestiae nam neque porro aliquam praesentium. Lorem ipsum, dolor sit amet
			consectetur adipisicing elit. Quis sequi suscipit ipsa illo, nisi, culpa minima
			illum aliquid hic accusamus perferendis laboriosam odit vero architecto aperiam
			rerum assumenda numquam deserunt.
		</div>
	</Section.First>

	<Section.Root>
		<Section.Header><h2>lorem</h2></Section.Header>

		<Section.SideContent>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo vero sed alias omnis
			repudiandae veritatis fugiat eius vel. Expedita quaerat ipsum nobis dignissimos?
			Quaerat fugit nihil neque ea distinctio soluta.
		</Section.SideContent>

		<div class="col-span-full overflow-hidden lg:h-screen">
			<img src="/hero.png" alt="" />
		</div>

		<div class={subgrid()}>
			<p class="col-[3/-2]">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ad, porro
				nobis rerum, eaque veritatis qui dolores ab, tenetur nisi itaque vel perferendis
				suscipit sit laboriosam hic molestiae neque ipsum. Lorem ipsum dolor sit amet
				consectetur adipisicing elit. A quisquam molestiae maiores? Odio, aliquid ullam
				voluptatum itaque ducimus ab ipsum quisquam, eum fugit, ipsa magnam consequuntur
				consequatur optio cumque. Facere!
			</p>
		</div>
	</Section.Root>
</MainLayout>
